<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%#= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>-->
      <!--This function is used to count the pluraize errors.Note that we are passing the count and model name (which is, itself, enabled
for translation) on the translate call for the error template header. Here :count is used to pluarize the error messages
    -->
      <h2><%= t('errors.template.header', :count=>@order.errors.size,
                :model=>t('activerecord.models.order')) %>.</h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <!--<li><%#= msg %></li>-->
        <li><%= raw msg %></li>

      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%#= f.label :address %>
    <%= f.label :address, t('.address_html') %><br />
    <%= f.text_area :address, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :pay_type %><br />
    <!--In the template, we pass this array of payment type options to the select helper.-->
    <!--We also pass the :prompt parameter, which adds a dummy selection containing-->
    <!--the prompt text.-->

    <%#= f.select :pay_type, Order::PAYMENT_TYPES,
                 :prompt => 'Select a payment method' %>

    <%= f.select :pay_type, Order::PAYMENT_TYPES,
                 :prompt => t('.pay_prompt_html') %>

  </div>
  <div class="actions">
    <%#= f.submit 'Place Order' %>
    <%= f.submit t('.submit') %>

  </div>
<% end %>
